%message-shared {
  border: 10px solid #ccc;
  padding: 10px;
  color: #333;
}
%equals-height {
  display: flex;
  flex-wrap: wrap;
}
.message {
  @extend %message-shared;
}
.sucess {
  @extend %message-shared;
  border-color: green;
}
.error {
  @extend %message-shared;
  border-color: red;
}
.warning {
  @extend %message-shared;
  border-color: yellow;
}