$primary-color: crismon;
nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 5 10px;
    text-decoration: none;
    background-color: $primary-color; 
  }
  
}